In [1]:
import json
import pandas

df = pandas.read_json('INFY.json')
df

                                                                 dataset
collapse                                                            None
column_index                                                        None
column_names           [Date, Open, High, Low, Last, Close, Total Tra...
data                   [[2018-04-10, 1112.0, 1124.5, 1105.4, 1114.65,...
database_code                                                        NSE
database_id                                                           33
dataset_code                                                        INFY
description            Historical prices for Infosys Limited<br><br>N...
end_date                                                      2018-04-10
frequency                                                          daily
id                                                                  6309
limit                                                               None
name                                                     Infosys Limited
newest_available_date                                         2018-04-10
oldest_available_date                                         2011-06-29
order                                                               None
premium                                                            False
refreshed_at                                    2018-04-10T13:26:59.467Z
start_date                                                    2011-06-29
transform                                                           None
type                                                         Time Series

In [4]:
df1 = pandas.DataFrame(df['dataset']['data'], columns = df['dataset']['column_names'])

In [5]:
df1

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-04-10,1112.00,1124.50,1105.40,1114.65,1113.40,4463029.0,49797.29
1,2018-04-09,1125.00,1125.80,1106.55,1111.45,1111.25,3601441.0,40088.32
2,2018-04-06,1143.00,1146.00,1122.10,1127.55,1127.00,2968871.0,33512.85
3,2018-04-05,1139.55,1151.30,1129.10,1146.05,1147.55,3881772.0,44279.93
4,2018-04-04,1144.00,1144.55,1120.00,1122.70,1124.20,2406651.0,27238.79
5,2018-04-03,1134.70,1143.55,1128.10,1139.40,1140.45,2038584.0,23142.27
6,2018-04-02,1141.00,1149.55,1121.30,1136.70,1137.15,4036351.0,45847.17
7,2018-03-28,1150.75,1150.75,1126.25,1140.00,1131.80,6279161.0,71342.53
8,2018-03-27,1160.00,1161.30,1150.10,1152.10,1154.00,1901044.0,21946.57
9,2018-03-26,1166.90,1166.90,1144.00,1155.60,1155.25,4465361.0,51493.17
10,2018-03-23,1147.00,1173.80,1142.35,1165.00,1167.60,6004042.0,69922.54
11,2018-03-22,1164.50,1177.45,1155.30,1156.00,1161.30,3406584.0,39774.31
12,2018-03-21,1170.00,1175.50,1162.20,1166.20,1167.50,3846497.0,45062.71
13,2018-03-20,1148.60,1170.00,1148.60,1164.55,1164.55,4276883.0,49600.77
14,2018-03-19,1164.00,1180.50,1142.65,1148.00,1146.75,3763310.0,43539.38
15,2018-03-16,1182.00,1182.40,1169.25,1170.00,1171.90,8977413.0,105301.77
16,2018-03-15,1180.00,1188.40,1172.00,1181.90,1182.50,3050750.0,36025.70
17,2018-03-14,1180.00,1190.60,1169.10,1181.10,1180.80,2214855.0,26141.12
18,2018-03-13,1180.20,1197.00,1175.15,1182.00,1183.80,4290526.0,50936.53
19,2018-03-12,1176.00,1191.85,1171.75,1184.00,1185.75,3838485.0,45534.56
20,2018-03-09,1162.35,1166.00,1155.55,1164.00,1163.40,2110482.0,24531.39
21,2018-03-08,1149.00,1165.80,1149.00,1158.00,1156.65,3046507.0,35297.22
22,2018-03-07,1155.00,1160.00,1138.05,1147.80,1144.10,3185208.0,36575.95
23,2018-03-06,1162.55,1165.40,1143.60,1146.25,1151.35,3344867.0,38720.55
24,2018-03-05,1160.75,1170.80,1143.25,1159.70,1155.90,4050728.0,46935.12
25,2018-03-01,1169.60,1169.60,1156.05,1160.25,1160.75,3289926.0,38223.36
26,2018-02-28,1147.60,1189.50,1142.55,1169.85,1172.60,8634208.0,101200.35
27,2018-02-27,1144.95,1153.65,1125.65,1147.70,1150.20,3308013.0,37681.02
28,2018-02-26,1151.00,1155.05,1134.35,1139.95,1138.60,2541804.0,29047.93
29,2018-02-23,1163.50,1166.00,1146.75,1154.40,1155.65,4729914.0,54776.35
...,...,...,...,...,...,...,...,...
1650,2011-08-09,2351.00,2439.95,2350.20,2379.00,2374.55,2106218.0,50278.36
1651,2011-08-08,2500.00,2500.00,2431.00,2487.00,2470.50,2021280.0,49882.39
1652,2011-08-05,2643.60,2643.60,2525.00,2601.00,2591.20,1969759.0,50941.13
1653,2011-08-04,2740.00,2759.95,2704.00,2714.80,2709.15,816236.0,22346.00
1654,2011-08-03,2735.00,2739.70,2708.50,2730.00,2732.60,705761.0,19233.05
1655,2011-08-02,2798.55,2798.55,2745.00,2752.00,2750.95,616566.0,17033.36
1656,2011-08-01,2780.10,2823.80,2780.10,2815.25,2815.10,761869.0,21421.66
1657,2011-07-29,2741.00,2782.45,2725.40,2766.00,2775.90,1219699.0,33734.33
1658,2011-07-28,2765.00,2773.90,2734.50,2743.00,2751.10,1185172.0,32573.77
1659,2011-07-27,2801.00,2835.90,2791.20,2795.00,2796.65,1063305.0,29836.30
1660,2011-07-26,2809.00,2824.00,2787.50,2801.00,2801.80,856092.0,23997.53
1661,2011-07-25,2818.00,2825.05,2791.10,2806.00,2807.75,925532.0,25971.71
1662,2011-07-22,2784.30,2844.00,2770.00,2820.00,2828.25,968703.0,27324.24
1663,2011-07-21,2745.20,2784.50,2736.80,2766.50,2768.10,737136.0,20387.82
1664,2011-07-20,2772.80,2772.80,2745.00,2755.05,2752.45,777839.0,21418.78
1665,2011-07-19,2721.00,2762.00,2716.65,2747.20,2750.50,1040553.0,28526.28
1666,2011-07-18,2735.00,2743.25,2707.35,2712.50,2713.40,1176082.0,31968.69
1667,2011-07-15,2744.00,2762.95,2720.00,2731.50,2731.35,799078.0,21847.06
1668,2011-07-14,2760.25,2764.00,2731.00,2739.95,2740.35,1361403.0,37333.24
1669,2011-07-13,2766.00,2807.35,2761.05,2778.00,2777.30,1667271.0,46335.42
1670,2011-07-12,2850.00,2850.00,2746.80,2786.10,2791.55,3706582.0,102882.43
1671,2011-07-11,2953.90,2976.10,2888.55,2926.35,2921.15,1150815.0,33571.22
1672,2011-07-08,3000.00,3023.90,2967.25,2967.25,2976.55,708724.0,21245.90
1673,2011-07-07,2955.20,3000.00,2943.00,2998.00,2995.70,718934.0,21388.82
1674,2011-07-06,2947.00,2972.45,2937.10,2954.50,2953.70,430028.0,12701.30
1675,2011-07-05,2957.00,2969.90,2926.00,2959.00,2956.45,802966.0,23701.22
1676,2011-07-04,2966.65,2977.00,2935.00,2941.00,2938.95,514324.0,15162.29
1677,2011-07-01,2935.00,2969.95,2924.10,2928.00,2934.15,800308.0,23549.85
1678,2011-06-30,2886.05,2919.00,2881.50,2903.10,2910.45,1417730.0,41163.32
1679,2011-06-29,2868.00,2907.00,2868.00,2880.00,2881.75,600094.0,17320.05